.main-container {
    width: 600px;
    background-color: white;
    border: 5px solid black;
    margin: 20px auto;
}

.row-style {
    height: 200px;
    border: 5px solid black;
}

.column-style {
    border: 2px dotted black;
}

.row1-col1 {
    background-color: teal;
}

.row1-col2 {
    background-color: thistle;
}

.row2-col1 {
    background-color: tomato;
}

.row2-col2 {
    background-color: turquoise;
}

.row3-col1 {
    background-color: violet;
}

.row3-col2 {
    background-color: yellowgreen;
}